*{
    border: 0px;
    padding: 0px;
}





#a12 {
   
    background-color: indigo;
    color: ivory;
    border: 0px;
    padding-left: 30px;
}

#a145{
    margin: 5px;
}
.col-sm-5 h5 {

    text-align:left;
}
